* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.light-theme {
  background: #ccc;
}
.dark-theme {
  background: #3a3a3a;
}
